{% extends "base.html" %}

{% block title %}番剧推荐-登录{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='icon/login/iconfont.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block section %}
    <div class="login glass">
        <form action="" method="post">
            <p class="title">Login</p>
            <span class="iconfont icon-user"></span>
            <input type="text" placeholder="username" class="input_kuang" name="username">
            <span class="iconfont icon-password"></span>
            <input type="password" placeholder="password" class="input_kuang" name="password">
            {% for message in get_flashed_messages() %}
                <div class="message">{{ message }}</div>
            {% endfor %}
            <input type="submit" value="login" class="botton_login">
        </form>
    </div>
{% endblock %}