@font-face {
  font-family: "iconfont"; /* Project id 3402534 */
  src: url('iconfont.woff2?t=1653635848360') format('woff2'),
       url('iconfont.woff?t=1653635848360') format('woff'),
       url('iconfont.ttf?t=1653635848360') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pingfen:before {
  content: "\e614";
}

.icon-sousuo:before {
  content: "\eafe";
}

